@model Category


<form method="post" asp-action="Edit" class="row">
    <div class="m-4 p-3 border">
        <div class="row pt-2">
            <h1>Update Category</h1>
            <hr />
        </div>

        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4"></label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DisplayOrder" class="form-label mt-4"></label>
            <input type="number" class="form-control" asp-for="DisplayOrder" placeholder="Enter Display Order">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <a class="btn btn-info" style="width:150px" asp-controller="Category" asp-action="Index">Back to Index</a>
        </div>
    </div>
</form>


@*//client side validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}